footer {
      background-color: #00FF00; 
                  height: 60px; 
                  width: 100%;
                  position: absolute;  
                  display: flex; 
                  flex-direction: column; 
                  justify-content: center; 
                  align-items: center;
                  bottom: 0
    }
