*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #484848;
}
