footer {
    position: fixed
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}
