header {
    width: 100%;
    height: 70px;
    background-image: url(../images/hbnb_logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}
